@{
    ViewBag.pageCodename = "index";
}

<div id="logInScreen" style="display:none; text-align:center">
    <h1>Friends Tracker</h1>

    <a id="logInBtn" class="btn btn-social btn-facebook">
        <i class="fa fa-facebook"></i> Log in with Facebook
    </a>
</div>

<div id="mainScreen" style="display:none">
    <div id="googleMap" class="col-xs-12 col-sm-8">
    </div>

    <div id="buttons" class="visible-xs">
        <span id="zoomBtn" class="roundBtn glyphicon glyphicon-screenshot" aria-hidden="true"></span>

        <span id="showSideBarBtn" class="roundBtn roundBtnBlue glyphicon glyphicon-th-list" aria-hidden="true"></span>
    </div>

    <div id="sideBar" class="col-xs-12 col-sm-4 hidden-xs">
        <h1 id="appTitle"><span id="showMapBtn" class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true" style="display:none"></span>Friends Tracker</h1>

        <h3 id="userName" class="hover"></h3>

        <table id="geoLocationErrorTable" class="table customTable"></table>

        <input type="hidden" value="" id="userId" />

        <div id="friendList" style="overflow-x:hidden">
            <table id="friendListTable" class="table">
            </table>
        </div>

        <table id="logOutBtnTable" class="table customTable">
            <tr id="logOutBtn">
                <td>Log Out</td>
            </tr>
        </table>
    </div>
</div>
