html,body{
    width: 100%;
    height: 100%;
    background-color: #87B6E9;
}

tr:hover{
    cursor:pointer;
    color:#FFFFFF;
    background-color:#999999;
}

.hover:hover {
    cursor:pointer;
}

.noHover:hover {
    cursor:default !important;
    color:#333 !important;
    background-color: #3F89DC !important;
}

.table {
    margin-bottom:1px;
    border-bottom:1px solid #dddddd;
}

.scrollFix {
    line-height: 1.35;
    overflow: hidden;
    white-space: nowrap;
}

.roundBtn{
    color: #3F89DC;
    background-color:#FFFFFF;
    display:block;
    font-size: 20px;
    width:50px;
    height:50px;
    margin:20px;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius:50px;
    text-align:center;
    padding-top:12px;
}

.roundBtn:hover{
    cursor:pointer;
}

.roundBtnBlue{
    color: #FFFFFF;
    background-color: #3F89DC;
}

#appTitle{
    padding-left:6px;
}

#userPhoto{
    margin-top:-4px;
    margin-left:8px;
    margin-right:16px;
}

.photoColumn{
    width: 49px;
}

.nameColumn{
    padding-top: 14px !important;
}

#showMapBtn{
    font-size:30px !important;
    margin-left:3px !important;
    margin-right:15px !important;

}

#showMapBtn:hover{
    cursor: pointer;
}

#container {
    width: 100%;
    height: 100%;
}

#mainScreen {
    width: 100%;
    height: 100%;
}

#googleMap{
    height:100%;
}

#buttons {
    position: absolute;
    right: 0px;
    bottom: 0px;
    z-index: 1;
}

#sideBar{
    height:100%;
}

#friendList{
    margin-top:30px;
}

#logOutBtnTable{
    margin-top:30px;
}

#logInBtn{
    margin-top:15px;
}

@media (min-height: 0px) {
    #friendList{
        max-height:20%;
    }
}

@media (min-height: 300px) {
    #friendList{
        max-height:25%;
    }
}

@media (min-height: 400px) {
    #friendList{
        max-height:43%;
    }
}

@media (min-height: 500px) {
    #friendList{
        max-height:54%;
    }
}

@media (min-height: 600px) {
    #friendList{
        max-height:62%;
    }
}

@media (min-height: 700px) {
    #friendList{
        max-height:70%;
    }
}
